// //通过@mixin定义函数
// @mixin toolbar-item($pos,$hoverPos){
// 	background-position: 0 $pos;

// 	&:hover{
// 		background-position: 0 $hoverPos;
// 	}
// }
// $toolbar-size:52px;

// //整理相同的代码
// .toolbar-item,.toolbar-layer{
// 	background-image: url(../img/toolbar.png);
// 	background-repeat: no-repeat;
// }

// .toolbar{
// 	position: fixed;
// 	left:50%;
// 	bottom:5px;
// 	margin-left:-$toolbar-size / 2 ;

// }
// .toolbar-item{
// 	position: relative;
// 	display: block;
// 	width: $toolbar-size;
// 	height: $toolbar-size;
// 	//代码整合
// 	// background-image: url(../img/toolbar.png);
// 	// background-repeat: no-repeat;
// 	margin-top: 1px;
// 	//transition:background-position 1s;//过渡动画，背景图片变换时间为1秒
// 	@include transition(background-position 1s);

// 	&:hover{
// 		.toolbar-layer{
// 			// opacity: 1;
// 			// filter:alpha(opacity=100);
// 			@include opacity(1);

// 			//transform:scale(1);
// 			@include scale(1);
// 		}
// 	}

// }
// .toolbar-item-weixin{
// 	//已封装函数
// 	// background-position: 0 -798px;

// 	// &:hover{
// 	// 	background-position: 0 -860px;
// 	// }

// 	//通过@include引入定义的函数
// 	@include toolbar-item(-798px,-860px);

// 	.toolbar-layer{
// 		height: 212px;
// 		background-position: 0 0;
// 	}
// }
// .toolbar-item-feedback{
// 	// background-position: 0 -426px;

// 	// &:hover{
// 	// 	background-position: 0 -488px;
// 	// }
// 	@include toolbar-item(-426px,-488px);
// }
// .toolbar-item-app{
// 	// background-position: 0 -550px;

// 	// &:hover{
// 	// 	background-position: 0 -612px;
// 	// }
// 	@include toolbar-item(-550px,-612px);
// 	.toolbar-layer{
// 		height: 194px;
// 		background-position: 0 -222px;
// 	}
// }
// .toolbar-item-top{
// 	// background-position: 0 -674px;

// 	// &:hover{
// 	// 	background-position: 0 -736px;
// 	// }
// 	@include toolbar-item(-674px,-736px);
// }
// .toolbar-layer{
// 	position: absolute;
// 	right: $toolbar-size - 6;
// 	bottom: -10px;
// 	width: 172px;
// 	//代码整合
// 	// background-image: url(../img/toolbar.png);
// 	// background-repeat: no-repeat;
	
// 	// opacity: 0;					//不透明度为0，即为完全透明
// 	// filter:alpha(opacity=0);	//兼容ie
// 	@include opacity(0);


// 	//transform-origin: 95% 95%;//设置过渡变换的基准点，如果不设置默认为图片的中心点
// 	@include transform-origin(95% 95%);
// 	//transform:scale(0.01);  	//变换大小为原来的0.01
// 	@include scale(0.01);
// 	// transition:all 1s;
// 	@include transition(all 1s);
// }

//以上是图片实现工具栏



//以下通过图标字体方式实现工具栏

// $toolbar-size:52px;
// .toolbar{
// 	position: fixed;
// 	left: 50%;
// 	bottom: 5px ;
// 	margin-left: -$toolbar-size / 2;
// }

// .toolbar-item{
// 	position: relative;
// 	display: block;
// 	height: $toolbar-size;
// 	width: $toolbar-size;
// 	margin-top: 1px;
	
// 	&:hover{
// 		.toolbar-icon{
// 			top:-$toolbar-size;
// 		}
// 		.toolbar-text{
// 			top:0;
// 		}
// 		.toolbar-layer{
// 			@include opacity(1);
// 			@include scale(1);
// 		}
// 	}
// }

// .toolbar-btn{
// 	position: absolute;
// 	left: 0;
// 	top:0;
// 	height: $toolbar-size;
// 	width: $toolbar-size;
// 	overflow: hidden;
// }

// .toolbar-icon{
// 	position: absolute;
// 	left: 0;
// 	top:0;
// 	width: $toolbar-size;
// 	height: $toolbar-size;
// 	background-color: #d0d6d9;
// 	font-size:30px;
// 	color: #fff;
// 	text-align: center;
// 	line-height: $toolbar-size;
// 	@include transition(top 1s);
// }

// .toolbar-text{
// 	position: absolute;
// 	left: 0;
// 	top:$toolbar-size;
// 	width: $toolbar-size;
// 	height: $toolbar-size;
// 	background-color: #98a1a6;
// 	padding-top: 12px;
// 	font-size:12px;
// 	color: #fff;
// 	text-align: center;
// 	line-height: 1.2;
// 	@include transition(top 1s);
// }

// .toolbar-layer{
// 	position: absolute;
// 	right: $toolbar-size - 6;
// 	bottom: -10px;
// 	width: 172px;
// 	background-image: url(../img/toolbar_img.png);
// 	background-repeat: no-repeat;
// 	@include opacity(0);
// 	@include transform-origin(95% 95%);
// 	@include scale(0.01);
// 	@include transition(all 1s);
// }

// .toolbar-layer-weixin{
// 	height: 212px;
// 	background-position: 0 0;
// }

// .toolbar-layer-app{
// 	height: 194px;
// 	background-position: 0 -222px;

// }





//使用before和after伪类简化html的结构
$toolbar-size:52px;

.toolbar{
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -$toolbar-size / 2;

}

.toolbar-item{
	position: relative;
	display: block;
	width: $toolbar-size;
	height: $toolbar-size;
	margin-left: 1px;

	//当鼠标移入时
	&:hover{
		//icon和text进行变换
		.toolbar-btn{
			&:before{
				top:-$toolbar-size;
			}
			&:after{
				top:0;
			}
		}
		//当鼠标移入时显示二维码
		&:after{
			@include opacity(1);
			@include scale(1);
		}
	}

	
	//用after来为二维码添加样式
	&:after{
		content:"";
		position: absolute;
		right: $toolbar-size - 6;
		bottom: -10px;
		width: 172px;
		background-image: url(../img/toolbar_img.png);
		background-repeat: no-repeat;
		@include opacity(0);
		@include transform-origin(95% 95%);
		@include scale(0.01);
		@include transition(all 1s);
	}

}


.toolbar-item-weixin{
	//设置微信公众的二维码的位置
	&:after{
		content:"";
		height: 212px;
		background-position: 0 0;
	}

	//微信图标字体的样式
	.toolbar-btn{
		&:before{
			content: "\e902";
		}
		&:after{
			content:"公众\A账号";
		}
	}
	
}

.toolbar-item-feedback{
	//意见反馈图标字体的样式
	.toolbar-btn{
		&:before{
			content: "\e900";
		}
		&:after{
			content:"意见\A反馈";
		}
	}
}

.toolbar-item-app{
	//设置app下载的二维码的位置
	&:after{
		content:"";
		height: 194px;
		background-position: 0 -222px;
	}

	//app下载图标字体的样式
	.toolbar-btn{
		&:before{
			content: "\e958";
		}
		&:after{
			content:"app\A下载";
		}
	}

}

.toolbar-item-top{
	//返回顶部图标字体的样式
	.toolbar-btn{
		&:before{
			content: "\e901";
		}
		&:after{
			content:"返回\A顶部";
		}
	}
}

.toolbar-btn{
	//图标字体的公共样式
	 /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


	position: absolute;
	left: 0;
	top:0;
	width: $toolbar-size;
	height: $toolbar-size;
	overflow: hidden;

	//设置图标字体icon
	&:before{
		content:"";
		position: absolute;
		left: 0;
		top:0;
		width: $toolbar-size;
		height: $toolbar-size;
		background-color: #d0d6d9;
		font-size:30px;
		color: #fff;
		text-align: center;
		line-height: $toolbar-size;
		@include transition(top 1s);

	}

	//设置text
	&:after{
		content:"";
		position: absolute;
		left: 0;
		top:$toolbar-size;
		width: $toolbar-size;
		height: $toolbar-size;
		background-color: #98a1a6;
		font-size:12px;
		color: #fff;
		text-align: center;
		padding-top: 12px;
		line-height: 1.2;
		@include transition(top 1s);
		white-space:pre;
		
	}
}
